@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f5f6;
    --btn-background: #2d70d6;
    --btn-background-hover: #2061c3;
    --foreground: 200 50% 3%;
    --text-primary: #333333;
    --text-secondary: #797979;
    --text-disabled: #bababa;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  } */
}

@font-face {
  font-family: "Pretendard Variable";
  src: url("/fonts/PretendardVariable.woff2") format("woff2"),
    url("/fonts/PretendardVariable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: "Pretendard Variable", sans-serif;
}
